
$navbarwidth: 264px;
$navbarwidthMobile: 100vw;
$navbarwidthSD: 220px;

// colors

$prime-black: #282828;
$prime-green: #2eceb0;
$prime-blue: #324a87;
$prime-yellow: #ffcb04;
$prime-red: #ee3a24;

$white: #FFFFFF;
$black: #000000;
$green: #7ac142;
$alert: #CC001A;

//Grey shades - dark to light

$grey1: #545454; //For normal body content
$grey2: #808080; //For greyish tittle
$grey3: #989898; //For light greyish tittle
$grey4: #E8E8E8; //For light greyish tittle
$grey4: #DDDDDD; // For border
$grey5: #EEEEEE; //For light border, bg
$grey6: #FAFAFA; //For light greyish background

// fonts

$kabel: Kabel-Black;